
.navbar{
    background-color: #d5a5fd;
}

.quem-somos{
    background-color: rgb(226, 43, 171);
    color: white;
}

.margin{
    padding: 50px;
}

.parceiros{
    background-color: cadetblue;
}

.bg-footer{
    background-color: #ff9e81;
    padding: 10px;
}